.landing {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background: linear-gradient(180deg, #e9f3ff, #b5d1f3);
  	overflow: hidden;
  	text-align: left;
  	font-size: 10px;
  	color: #546a81;
  	font-family: Montserrat;
}
.rectangleParent {
  	position: absolute;
  	top: -30px;
  	left: 88px;
  	width: 1264px;
  	height: 1342px;
  	display: none;
  	flex-shrink: 0;
}
.groupChild {
  	position: absolute;
  	top: 30px;
  	left: 1200px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupItem {
  	position: absolute;
  	top: 30px;
  	left: 1120px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupInner {
  	position: absolute;
  	top: 30px;
  	left: 1040px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.rectangleDiv {
  	position: absolute;
  	top: 30px;
  	left: 960px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild2 {
  	position: absolute;
  	top: 20px;
  	left: 880px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild3 {
  	position: absolute;
  	top: 20px;
  	left: 800px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild4 {
  	position: absolute;
  	top: 10px;
  	left: 714px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild5 {
  	position: absolute;
  	top: 20px;
  	left: 640px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild6 {
  	position: absolute;
  	top: 10px;
  	left: 560px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild7 {
  	position: absolute;
  	top: 10px;
  	left: 480px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild8 {
  	position: absolute;
  	top: 10px;
  	left: 400px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild9 {
  	position: absolute;
  	top: 10px;
  	left: 320px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild10 {
  	position: absolute;
  	top: 0px;
  	left: 240px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild11 {
  	position: absolute;
  	top: 0px;
  	left: 160px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild12 {
  	position: absolute;
  	top: 0px;
  	left: 80px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.groupChild13 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #d9d9d9;
  	width: 64px;
  	height: 1312px;
}
.landingChild {
  	position: absolute;
  	top: 192px;
  	left: 167px;
  	width: 764px;
  	height: 1225.6px;
  	flex-shrink: 0;
}
.headings {
  	position: absolute;
  	top: 166px;
  	left: 985px;
  	font-size: 18px;
  	line-height: 66px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 74px;
  	height: 30px;
  	flex-shrink: 0;
}
.headings2 {
  	position: absolute;
  	top: 87px;
  	left: 119px;
  	font-size: 14px;
  	line-height: 66px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 369px;
  	height: 19px;
  	flex-shrink: 0;
}
.landingInner {
  	position: absolute;
  	top: 200px;
  	left: 977px;
  	width: 358px;
  	height: 107px;
  	cursor: pointer;
  	flex-shrink: 0;
}
.groupChild14 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 10px 10px 20px #fff, 0px -2px 4px rgba(0, 0, 0, 0.2) inset, 0px 2px 4px rgba(255, 255, 255, 0.4) inset;
  	backdrop-filter: blur(10px);
  	border-radius: 15px;
  	background: linear-gradient(90deg, #5ea7ff, #dfebf7) padding-box, linear-gradient(235.81deg, rgba(255, 255, 255, 0.05) 1.44%, #fff 50%, rgba(255, 255, 255, 0.05)) border-box;
  	border: 1px solid transparent;
  	box-sizing: border-box;
  	width: 358px;
  	height: 107px;
}
.logoParent {
  	position: absolute;
  	top: 56.54px;
  	right: 1197.2px;
  	width: 171.8px;
  	height: 42.9px;
  	flex-shrink: 0;
  	font-size: 20px;
}
.logo {
  	position: absolute;
  	top: 0px;
  	right: -0.01px;
  	width: 124px;
  	height: 24px;
}
.recehtok {
  	position: absolute;
  	top: 0px;
  	right: 0px;
}
.for {
  	font-weight: 500;
}
.image1Icon {
  	position: absolute;
  	top: 5.46px;
  	left: 0px;
  	width: 33.1px;
  	height: 37.4px;
  	object-fit: cover;
}
.landingItem {
  	position: absolute;
  	top: 713px;
  	left: 431.5px;
  	width: 49.5px;
  	height: 25px;
  	flex-shrink: 0;
}
.groupIcon {
  	position: absolute;
  	top: 717px;
  	left: 460px;
  	width: 14px;
  	height: 14px;
  	flex-shrink: 0;
}
.landingChild2 {
  	position: absolute;
  	top: 337px;
  	left: 371px;
  	width: 21px;
  	height: 21px;
  	flex-shrink: 0;
}
.groupParent {
  	position: absolute;
  	top: 209px;
  	left: 969px;
  	width: 357px;
  	height: 104px;
  	flex-shrink: 0;
  	color: #ff3b3b;
}
.groupWrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	filter: drop-shadow(0px 10px 10px rgba(255, 255, 255, 0.15) inset) drop-shadow(0px -10px 10px rgba(205, 147, 255, 0.25) inset);
  	backdrop-filter: blur(20px);
  	width: 357px;
  	height: 104px;
}
.frameWrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 357px;
  	height: 104px;
}
.frameDiv {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 15px;
  	background-color: rgba(255, 255, 255, 0.1);
  	width: 357px;
  	height: 104px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 30px;
  	box-sizing: border-box;
}
.lineDiv {
  	position: absolute;
  	top: 63.5px;
  	left: 14.5px;
  	border-top: 3px solid #e6f3ff;
  	box-sizing: border-box;
  	width: 329px;
  	height: 3px;
}
.groupChild15 {
  	position: absolute;
  	top: 86.5px;
  	left: 14.5px;
  	border-top: 3px solid #e6f3ff;
  	box-sizing: border-box;
  	width: 329px;
  	height: 3px;
}
.groupChild16 {
  	position: absolute;
  	top: 86.5px;
  	left: 14.5px;
  	border-top: 3px solid #ffff00;
  	box-sizing: border-box;
  	width: 15px;
  	height: 3px;
}
.groupChild17 {
  	position: absolute;
  	top: 63.5px;
  	left: 14.5px;
  	border-top: 3px solid #ff3b3b;
  	box-sizing: border-box;
  	width: 280px;
  	height: 3px;
}
.maeMohMine {
  	position: absolute;
  	top: 13px;
  	left: 16px;
  	font-size: 18px;
  	letter-spacing: 0.02px;
  	display: flex;
  	color: #fff;
  	align-items: center;
  	width: 155px;
  	height: 26px;
}
.buttonOnLight {
  	position: absolute;
  	top: calc(50% - 36px);
  	left: calc(50% + 93.5px);
  	box-shadow: 3px 3px 0.5px -3.5px #fff inset, 2px 2px 0.5px -2px #262626 inset, -2px -2px 0.5px -2px #262626 inset, 0px 0px 0px 1px #a6a6a6 inset, 0px 0px 8px #f2f2f2 inset, 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 8px rgba(0, 0, 0, 0.1);
  	backdrop-filter: blur(12px);
  	border-radius: 100px;
  	background: #171717, rgba(140, 140, 140, 0.25);
  	width: 70px;
  	height: 20px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 0px 21px;
  	box-sizing: border-box;
  	font-size: 12px;
  	color: #546a81;
}
.label {
  	position: relative;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
}
.label2 {
  	position: absolute;
  	top: 45px;
  	left: 18px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 61px;
  	height: 16px;
}
.label3 {
  	position: absolute;
  	top: 68px;
  	left: 17px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	color: #ffee00;
  	display: inline-block;
  	width: 61px;
  	height: 19px;
}
.label4 {
  	position: absolute;
  	top: 45px;
  	left: 322px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	text-align: right;
  	display: inline-block;
  	width: 20px;
  	height: 16px;
}
.label5 {
  	position: absolute;
  	top: 68px;
  	left: 322px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	color: #ffff00;
  	text-align: right;
  	display: inline-block;
  	width: 20px;
  	height: 19px;
}
.cursorArrowIcon {
  	position: absolute;
  	top: 21px;
  	left: 297px;
  	width: 30px;
  	height: 30px;
}
.groupDiv {
  	position: absolute;
  	top: 327px;
  	left: 977px;
  	width: 358px;
  	height: 107px;
  	cursor: pointer;
  	flex-shrink: 0;
}
.groupContainer {
  	position: absolute;
  	top: 336px;
  	left: 969px;
  	width: 357px;
  	height: 104px;
  	flex-shrink: 0;
  	color: #ff3b3b;
}
.groupFrame {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	filter: drop-shadow(0px 10px 10px rgba(255, 255, 255, 0.15) inset) drop-shadow(0px -10px 10px rgba(205, 147, 255, 0.25) inset);
  	backdrop-filter: blur(20px);
  	width: 357px;
  	height: 104px;
  	font-size: 18px;
  	color: #fff;
}
.groupChild20 {
  	position: absolute;
  	top: 65px;
  	left: 75px;
  	border-top: 3px solid #e6f3ff;
  	box-sizing: border-box;
  	width: 270px;
  	height: 3px;
}
.groupChild21 {
  	position: absolute;
  	top: 88px;
  	left: 16px;
  	border-top: 3px solid #e6f3ff;
  	box-sizing: border-box;
  	width: 329px;
  	height: 3px;
}
.groupChild22 {
  	position: absolute;
  	top: 88px;
  	left: 16px;
  	border-top: 3px solid #ffff00;
  	box-sizing: border-box;
  	width: 15px;
  	height: 3px;
}
.groupChild23 {
  	position: absolute;
  	top: 65px;
  	left: 16px;
  	border-top: 3px solid #ff3b3b;
  	box-sizing: border-box;
  	width: 284px;
  	height: 3px;
}
.maeMohPower {
  	position: absolute;
  	top: 13px;
  	left: 16px;
  	letter-spacing: 0.02px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	width: 208px;
  	height: 26px;
}
.label7 {
  	position: absolute;
  	top: 45px;
  	left: 16px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 61px;
  	height: 16px;
}
.label8 {
  	position: absolute;
  	top: 68px;
  	left: 16px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	color: #ffee00;
  	display: inline-block;
  	width: 61px;
  	height: 15px;
}
.groupChild26 {
  	position: absolute;
  	top: 65px;
  	left: 17px;
  	border-top: 3px solid #e6f3ff;
  	box-sizing: border-box;
  	width: 328px;
  	height: 3px;
}
.groupChild28 {
  	position: absolute;
  	top: 88px;
  	left: 16px;
  	border-top: 3px solid #ffff00;
  	box-sizing: border-box;
  	width: 309px;
  	height: 3px;
}
.groupChild29 {
  	position: absolute;
  	top: 65px;
  	left: 16px;
  	border-top: 3px solid #ff3b3b;
  	box-sizing: border-box;
  	width: 21px;
  	height: 3px;
}
.landingInner3 {
  	position: absolute;
  	top: 460px;
  	left: 977px;
  	width: 358px;
  	height: 107px;
  	cursor: pointer;
  	flex-shrink: 0;
}
.groupParent3 {
  	position: absolute;
  	top: 469px;
  	left: 969px;
  	width: 357px;
  	height: 104px;
  	flex-shrink: 0;
  	font-size: 18px;
  	color: #fff;
}
.bhumibolDam {
  	position: absolute;
  	top: 13px;
  	left: 16px;
  	letter-spacing: 0.02px;
  	display: flex;
  	align-items: center;
  	width: 208px;
  	height: 26px;
}
.groupParent4 {
  	position: absolute;
  	top: 53px;
  	left: 16px;
  	width: 326px;
  	height: 20px;
  	font-size: 10px;
  	color: #ffee00;
}
.lineParent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 326px;
  	height: 20px;
}
.groupChild32 {
  	position: absolute;
  	top: 20px;
  	left: 0px;
  	border-top: 3px solid #e6f3ff;
  	box-sizing: border-box;
  	width: 329px;
  	height: 3px;
}
.groupChild33 {
  	position: absolute;
  	top: 20px;
  	left: 0px;
  	border-top: 3px solid #ffff00;
  	box-sizing: border-box;
  	width: 304px;
  	height: 3px;
}
.label17 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 61px;
  	height: 15px;
}
.label18 {
  	position: absolute;
  	top: 0px;
  	left: 306px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	color: #ffff00;
  	text-align: right;
  	display: inline-block;
  	width: 20px;
  	height: 19px;
}
.landingInner4 {
  	position: absolute;
  	top: 587px;
  	left: 977px;
  	width: 358px;
  	height: 107px;
  	cursor: pointer;
  	flex-shrink: 0;
}
.groupParent5 {
  	position: absolute;
  	top: 596px;
  	left: 969px;
  	width: 357px;
  	height: 104px;
  	flex-shrink: 0;
  	color: #ffee00;
}
.groupChild36 {
  	position: absolute;
  	top: 70.5px;
  	left: 73.5px;
  	border-top: 3px solid #e6f3ff;
  	box-sizing: border-box;
  	width: 270px;
  	height: 3px;
}
.groupChild37 {
  	position: absolute;
  	top: 70.5px;
  	left: 14.5px;
  	border-top: 3px solid #ffee00;
  	box-sizing: border-box;
  	width: 149px;
  	height: 3px;
}
.label20 {
  	position: absolute;
  	top: 52px;
  	left: 16px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 61px;
  	height: 16px;
}
.label21 {
  	position: absolute;
  	top: 52px;
  	left: 304px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	text-align: right;
  	display: inline-block;
  	width: 38px;
  	height: 16px;
}
.landingInner5 {
  	position: absolute;
  	top: 720px;
  	left: 977px;
  	width: 358px;
  	height: 107px;
  	cursor: pointer;
  	flex-shrink: 0;
}
.groupParent6 {
  	position: absolute;
  	top: 729px;
  	left: 969px;
  	width: 357px;
  	height: 104px;
  	flex-shrink: 0;
  	font-size: 18px;
  	color: #9cff2e;
}
.groupWrapper5 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	filter: drop-shadow(0px 10px 10px rgba(255, 255, 255, 0.15) inset) drop-shadow(0px -10px 10px rgba(205, 147, 255, 0.25) inset);
  	backdrop-filter: blur(20px);
  	width: 357px;
  	height: 104px;
  	color: #fff;
}
.northBangkokPower {
  	position: absolute;
  	top: 22px;
  	left: 16px;
  	letter-spacing: 0.02px;
  	display: flex;
  	align-items: center;
  	width: 225px;
  	height: 26px;
}
.buttonOnLight6 {
  	position: absolute;
  	top: calc(50% - 27px);
  	left: calc(50% + 93.5px);
  	box-shadow: 3px 3px 0.5px -3.5px #fff inset, 2px 2px 0.5px -2px #262626 inset, -2px -2px 0.5px -2px #262626 inset, 0px 0px 0px 1px #a6a6a6 inset, 0px 0px 8px #f2f2f2 inset, 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 8px rgba(0, 0, 0, 0.1);
  	backdrop-filter: blur(12px);
  	border-radius: 100px;
  	background: #171717, rgba(140, 140, 140, 0.25);
  	width: 70px;
  	height: 20px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 0px 21px;
  	box-sizing: border-box;
  	font-size: 12px;
  	color: #546a81;
}
.label23 {
  	position: absolute;
  	top: 63px;
  	left: 26px;
  	font-size: 10px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 61px;
  	height: 15px;
}
.label24 {
  	position: absolute;
  	top: 55px;
  	left: 16px;
  	font-size: 30px;
  	letter-spacing: -0.1px;
  	line-height: 20px;
  	font-weight: 600;
  	text-align: center;
}
.landingChild3 {
  	position: absolute;
  	top: 469px;
  	left: 303px;
  	width: 21px;
  	height: 21px;
  	flex-shrink: 0;
}
.landingChild4 {
  	position: absolute;
  	top: 746px;
  	left: 439px;
  	width: 14px;
  	height: 14px;
  	flex-shrink: 0;
}

